@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

html{
    scroll-behavior: smooth;
}

.home-container{
  padding-top:70px ;
  padding-inline: 50px;
  background-repeat: no-repeat;
  background-position:0px 0px;
  background-size: 100vw 400px;
}


.bg{
  background-color:rgb(135, 0, 0);
}
.img-height{
    margin-inline: auto;
    height: 150px;
    width: 150px;
}

.grid-container{

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit,minmax(175px ,175px )); */
}

.max-width{
    max-width: 150px;
}
.grid-image{
    width: inherit;
}
.grid-content{
  background: rgb(246, 198, 255);
    padding-left: 8px;
    padding-right: 5px;
    padding-block: 8px;
    border-radius:.3em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    max-width: 165px;
    position:relative;
}

.grid-content a{
  display: block;
  margin-top: 5px;
  color:rgb(6, 158, 6);
  font-weight: bold;
  position: absolute;
  bottom: 5px;
}


.hov{

    transition:transform 200ms,box-shadow 200ms;
    
}
.col:hover{
    transform: translateY(-5px);
    box-shadow:10px 10px 30px;
}
.hov:hover{
    transform: translateY(-5px);
    box-shadow:10px 10px 30px;
    /* background-color: green; */
}


.b {
    white-space: nowrap; 
    width:  inherit ; 
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-bottom: 25px;
  }
  

  .search-form-container{
    margin-top:5vh;
    margin-bottom:10vh;
  }


  .inputs{
    position: relative;
   }
   .inputs i{
    margin-inline: 10px;
   }

   .form-input {

    padding-left: 1.5em;
    width: 100%;
    text-indent: 15px;
    border: none;
    height: 45px;
    border-radius: 6px;
    border: 1px solid rgb(182, 179, 179);
    border-bottom: 2px solid rgb(67, 66, 66);
    transition: 500ms;

   }

   .form-input:hover  {
    box-shadow:0px 0px 10px white;
}
   .form-input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #eee;
    outline: 0;
    box-shadow: none;
    border: 1px solid rgb(130, 130, 243);
    border-bottom: 2px solid blue;
}

.inputs i{

    position: absolute;
    top: 14px;
    left: 4px;
    color: #b8b9bc;
   }

