.nav-button{
    border: none;
    outline: none;
    background-color: inherit;
    margin-left: -2px;
    margin-right: 15px;
}
#navbarTogglerDemo02{
  margin-left:7vw ;
}
.nav-button:focus{
  outline: none;
}
.nav-button:hover{
  cursor: pointer;
}

.with-logo{
  display: flex;
  align-items: center;
}
.nav-profile-logo{
  width:30px;
  height:30px;
  background: white;
  padding: 2px;
  border-radius: 50%;
}
.nav-profile-logo:hover{
  cursor: pointer;
}

/* profile drop-down styles ----------------- */

.sub-menu-wrap{
  position: absolute;
  top:calc(100% + 10px);
  right: 10px;
  width: 290px;
  z-index: 1;
  max-height:0;
  border-radius: 1%;
  overflow: hidden;
  box-shadow:0px 0px 10px black;
  transition: 500ms;
}

.open-menu{
  max-height: 100vh;
}

.sub-menu{
  background:#fff;
  padding-top: 30px;
  padding-inline: 20px;
  /* margin: 10px; */
  padding-bottom:10px;
  /* background: #edf6ff; */
  opacity: 98%;
}
.user-info{
  display: flex;
  align-items: center;
}

.user-info img{
  width: 40px;
  border-radius:50%;
  margin-right: 20px;
}

.sub-menu hr{
  margin-top: 30px;
  margin-bottom: 30px;
}

.sub-menu-link{

  
  display:flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin:12px 0;
}
.sub-menu-link img{
  width:2em;
  height: 2em;
  border-radius: 50%;
  margin-right: 15px;
  transition: 400ms;
}

.sub-menu-link p{
  width:100%;
  padding-top: 15px;
  transition: 400ms;
}

/* ------------------------------- */

/* profile drop-down hover effects */

.sub-menu-link:hover {
  text-decoration: none;
}

.sub-menu-link span{
  transition: 400ms;
}
.sub-menu-link:hover p{
  font-weight: bold
}
.sub-menu-link:hover span{
  font-weight: bold;
  transform: translateX(5px);
}
.sub-menu-link:hover img{
  width: 2.4em;
}

/* ----------------------------------------- */