nav{
  padding-inline:1em ;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:rgb(154, 26, 51);
}
.navbar-logo{
  width: 100px;
  height: 80px;
}

.nav-section-two{
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 30px;
}
.nav-section-two,
.nav-section-two a{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.nav-section-two a:hover{
  color: #dec5c5;
}

.profile-name{
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.nav-profile-logo{
  width:35px;
  height:45px;
  border-radius: 50%;
  border: 0;
}

.with-logo:hover{
  cursor: pointer;
}


/* profile drop-down styles ----------------- */

.sub-menu-wrap{
  position: absolute;
  top:40px;
  right: 10px;
  width: 290px;
  z-index: 1;
  max-height:0;
  border-radius: 1%;
  overflow: hidden;
  box-shadow:0px 0px 10px black;
  transition: 500ms;
}

.open-menu{
  max-height: 100vh;
}

.sub-menu{
  background:#fff;
  padding-top: 30px;
  padding-inline: 20px;
  /* margin: 10px; */
  padding-bottom:10px;
  /* background: #edf6ff; */
  opacity: 98%;
}
.user-info{
  display: flex;
  align-items: center;
}
.close-btn{
  position: absolute;
  font-size: 1.2rem;
  font-weight: bold;
  right: 20px;
  top: 10px;
  cursor: pointer;
}
.user-info img{
  width: 40px;
  border-radius:50%;
  margin-right: 20px;
}

.sub-menu hr{
  margin-top: 30px;
  margin-bottom: 30px;
}

.sub-menu-link{
  display:flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin:12px 0;
}
.sub-menu-link img{
  width:2em;
  height: 2em;
  border-radius: 50%;
  margin-right: 15px;
  transition: 400ms;
}

.sub-menu-link p{
  width:100%;
  padding-top: 15px;
  transition: 400ms;
}

/* ------------------------------- */

/* profile drop-down hover effects */

.sub-menu-link:hover {
  text-decoration: none;
}

.sub-menu-link span{
  transition: 400ms;
}
.sub-menu-link:hover p{
  font-weight: bold
}
.sub-menu-link:hover span{
  font-weight: bold;
  transform: translateX(5px);
}
.sub-menu-link:hover img{
  width: 2.4em;
}


@media only screen and (max-width: 768px) {
  .sub-menu-wrap{
    position: absolute;
    width: calc(100vw - 40px);
    top:40px;
    right: 10px;
    left: 10px;
  }
}

/* ----------------------------------------- */