{% load static %}
<nav>
	<div  class="nav-section-one">
		<img class="navbar-logo" src="{% static 'img/tree.png' %}" alt="" >
	</div>
	<ul class="nav-section-two">
		{% if request.user.is_authenticated %}
			{% comment %} check if the user is Admin {% endcomment %}
			{% if not request.user.is_superuser %}
				<li class="with-logo profile-name" onclick="profileDropdown()">
					<img class="nav-profile-logo" src="{% static 'img/profile-pic.svg' %}" alt="">
					<span class="user" >{{request.user}}</span>
				</li>
				{% comment %} if user is admin {% endcomment %}
				{% else %}
				<li class="profile-name">
					<img class="nav-profile-logo" src="{% static 'img/profile-pic.svg' %}" alt="">
					<span>Admin</span>
				</li>
				<li>
					<a href="{% url 'test' %}">Dashboard</a>
				</li>
				<li>
					<a class="" href="{% url 'logout' %}">Logout</a>
				</li>
			{% endif %}
		{% else %}
			<li>
				<a class="" href="{% url 'login' %}">Login</a>
			</li>
		{% endif %}  
	</ul>
</nav>    

	{% comment %} Drop Down for user profile {% endcomment %}
	<div class="sub-menu-wrap" id="profileMenu">
		<div class="sub-menu">
			<span class="close-btn" onclick="profileClose()" >&times</span>
			<div class="user-info">
				<img  src="{% static 'img/profile.png' %}" alt="">
				<h3>{{request.user.get_full_name}}</h3>
			</div>
			<hr>
			<a href="{% url 'view-stud-details' %}" class='sub-menu-link' >
				<img class="image-fluid" src="{% static '/img/view-profile-logo.png' %}" alt="">
				<p>My Profile</p>
				<span>></span>
			</a>
			<a href="{% url 'add-stud-details' %}" class='sub-menu-link' >
				<img class="image-fluid" src="{% static '/img/edit-profile-logo2.png' %}" alt="">
				<p>Edit Profile</p>
				<span>></span>
			</a>
			<a href="{% url 'passw-update' %}" class='sub-menu-link' >
				<img class="image-fluid" src="{% static '/img/6117000.png' %}" alt="">
				<p>Change Password</p>
				<span>></span>
			</a>
			<a href="{% url 'logout' %}" class='sub-menu-link' >
				<img class="image-fluid" src="{% static '/img/log-out-logo2.jpg' %}" alt="">
				<p>Logout</p>
				<span>></span>
			</a>
			<hr>
		</div>
	</div>


{% comment %} nav-bar /\ {% endcomment %}